body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #4b4b4b;
}

.birthdayCard {
  position: relative;
  width: 250px;
  height: 350px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  transition: 1s;
}

.birthdayCard:hover {
  transform: perspective(2500px) rotate(5deg);
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
    0 10px 100px rgba(0, 0, 0, 0.5);
}

.birthdayCard:hover .cardFront {
  transform: rotateY(-160deg);
}

.birthdayCard:hover .happy {
  visibility: hidden;
}

.cardFront {
  position: relative;
  background-color: #fff;
  width: 250px;
  height: 350px;
  overflow: hidden;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
    30px 0 50px rgba(0, 0, 0, 0.4);
  transition: 0.6s;
}

.happy {
  font-family: Tahoma, sans-serif;
  text-align: center;
  margin: 30px;
  background-image: linear-gradient(120deg, #ee93bf 0%, #92bdf9 100%);
  transition: 0.1s;
}

.balloons {
  position: absolute;
}

.balloon-1,
.balloon-2,
.balloon-3,
.balloon-4 {
  position: absolute;
  width: 85px;
  height: 95px;
  border-radius: 50%;
}

.balloon-1 {
  background-color: #FFB8D0;
  left: -10px;
  top: 50px;
}

.balloon-2 {
  background-color: #6A9CDF;
  left: 50px;
  top: 20px;
}

.balloon-3 {
  background-color: #AEE4FF;
  left: 110px;
  top: 50px;
}

.balloon-4 {
  background-color: rgba(12, 122, 159, 0.7);
  left: 170px;
  top: 50px;
}

.balloon-1::before,
.balloon-2::before,
.balloon-3::before,
.balloon-4::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 155px;
  background-color: #ffc848;
  top: 95px;
  left: 43px;
}

.balloon-1::after,
.balloon-2::after,
.balloon-3::after,
.balloon-4::after {
  content: "";
  position: absolute;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  top: 94px;
  left: 37px;
}

.balloon-1::after {
  border-bottom: 10px solid #FFB8D0;
}

.balloon-2::after {
  border-bottom: 10px solid #6A9CDF;
}

.balloon-3::after {
  border-bottom: 10px solid #AEE4FF;
}

.balloon-4::after {
  border-bottom: 10px solid #13a9bd;
}

.cardInside {
  position: absolute;
  background-color: #fff;
  width: 250px;
  height: 350px;
  z-index: -1;
  left: 0;
  top: 0;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
}

p {
  font-family: Georgia, serif;
  font-size: small;
  margin: 30px;
  color: #333;
}

.name {
  position: absolute;
  left: 150px;
  top: 247px;
  color: #000000;
}

.back {
  font-family: Tahoma, sans-serif;
  color: #333;
  font-size: 40px;
  text-align: center;
  margin: 15px;
  outline-color: #333;

}
